* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20%;
  background-color: rgb(216, 216, 216);
  color: black;
  width: 15em;
  height: 7.5em;
  border-radius: 7px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.content {
  display: flex;
  width: 90%;
  height: 90%;
  flex-direction: column;
  align-items: center;
}
.content h1 {
  margin-bottom: 15px;
}
.currency {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
